*{
margin:0 ;
padding: 0;
background-color: blueviolet;
}
.container{
    background-color: white;
    width:400px;
    height:440px;
    border-radius: 5px;
    margin-left:250px ;
    margin-top: 95px;
}
.login{
    background-color: white;
    text-align: center;
    border-radius: 5px;
    line-height: 100px;
    margin-top: 20px;
}
.button{
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.facebook{
    width: 200px;
    height: 40px;
    background-color: rgb(11, 11, 161);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: 60px;
}
.fa-facebook-f{
    background-color:  rgb(11, 11, 161);
    margin-right: 10px;
}
.twitter{
    width: 200px;
    height: 40px;
    margin-right: 30px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(63, 156, 214);
    color: white;
    font-size: 18px;
}
.fa-twitter{
    background-color:  rgb(63, 156, 214);
    margin-right: 10px;
}
.form{
    background-color: white;
    margin-left: 70px;
}
.fa-user,.fa-lock{
    padding: 5px;
    background-color: white;
    display: inline-block;
}
.text{
    background-color: white;
    width: 290px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px thin grey;
}
.start{
    background-color: white;
    justify-content: space-between;
    display: flex;
    
}
.remember{
    background-color: white;
    margin-left: 70px;
}
.forget{
    background-color: white;
    color: blueviolet;
    margin-right: 35px;
    margin-bottom: 20px;
}
.end{
    background-color: white;
}
.loginbtn{
    background-color: blueviolet;
    color: white;
    margin-left: 70px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid white;
    margin-bottom: 20px;
}
.para{
    background-color: white;
    text-align: center;
}
.span{
    background-color: white;
    color: blueviolet;
}